<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <a class="footer-brand ms-2 mt-2 mb-1" routerLink="/">
      <img src="assets/final_icon.png" alt="Sail Mobility Logo" class="footer-logo">
      </a>
      <p>Tailored network solutions for customer businesses.</p>
    </div>
    <div class="footer-right">
      <a routerLink="/" fragment="about" class="footer-link">About Us</a>
      <a routerLink="/" fragment="contact" class="footer-link">Contact</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>©2024 — CatWave Networks LLC. All Rights Reserved.</p>
    <a href="mailto:contact@example.com">
      <i class="fa fa-envelope fa-xl mail-icon" aria-hidden="true"></i>
    </a>
  </div>
</footer>
