<div class="wifi-technologies">
  <div class="wifi-text">
    <h2>Wi-Fi Technologies</h2>
    <p>In today's enterprise environment, Wi-Fi and various forms of wireless connectivity are no longer just conveniences—they're necessities. Recent strides in wireless technologies have unleashed new dimensions of mobility and collaboration, offering faster speeds and affordability.</p><br>
    <p>At SailMobility, we go beyond the ordinary by delivering state-of-the-art wireless network solutions grounded in industry best practices. Our commitment extends beyond cost savings; we ensure uninterrupted device connectivity, high-speed data transmission, and robust security measures. Leveraging our extensive industry expertise and a team of best-in-class professionals, we guarantee excellence in wireless network services.</p><br>
    <p>Whether you require an enterprise Wi-Fi platform to facilitate seamless user mobility or a wireless point-to-point/point-to-multipoint solution for interconnecting your buildings, SailMobility is your trusted partner throughout every phase of your project. Our tailored approach ensures that your wireless network not only meets but exceeds your expectations, providing a foundation for enhanced connectivity and collaboration within your enterprise.</p>
  </div>

  <div class="wifi-services">
    <div class="services-list">
      <h3>Core Services</h3>
      <ul>
        <li> Complex Wi-Fi design and implementation</li>
        <li> Wi-Fi site surveys</li>
        <li> Wi-Fi validation and post-installation survey</li>
        <li> Radio PTP implementation</li>
        <li> Wi-Fi audit and remediation</li>
      </ul>
    </div>

    <div class="vendor-list">
      <h3>Core Vendor Technologies</h3>
      <ul>
        <li> HPE Aruba networking</li>
        <li> Juniper Mist</li>
        <li> Ruckus networks</li>
        <li> Cisco Meraki</li>
      </ul>
    </div>
  </div>
</div>
