<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-2 mt-2 mb-1" routerLink="/">
      <img src="assets/Logo-today3.jpg" alt="CatWaveNetworks Logo" class="logo_img">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" >Home</a>
        </li>
        <li class="nav-item dropdown">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" fragment="services"  role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/network-infrastructure">Network infrastructure</a></li>
            <li><a class="dropdown-item" routerLink="/wifi-technologies" >Wifi Technologies</a></li>
            <li><a class="dropdown-item" routerLink="/network-security">Network Security</a></li>
            <li><a class="dropdown-item" routerLink="/managed-services">Managed Services</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/" fragment="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" fragment="contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
