<div class="contact-container">
  <div class="contact-info ">
    <h2>Contact Us</h2>
    <p>Email address: <a href="mailto:contact@sailmobility.com">contact&#64;catwavenetworks.com</a></p>

    <h3>Our Locations</h3>

    <div class="location">
      <h4>USA</h4>
      <p>4405 Jager Dr NE<br>SSte C4-4173<br>Rio Rancho, NM 87144</p>
      <p><i class="fa-solid fa-phone"></i> +1 (602) 385-3662</p>
    </div>

    <div class="location">
      <h4>Morocco</h4>
      <p>Alkhayzourane 2 , Ilot 2<br>Appt K6 , Temara</p>
      <p><i class="fa-solid fa-phone"></i> +212 694 769 920</p>
    </div>
  </div>
  <div class="contact-illustration ">
    <h2>Let's talk about <br>everything</h2>
    <img src="assets/contact.svg" alt="Contact Illustration">
  </div>
</div>
