.services-container {
  text-align: center;
  padding: 80px 20px;
  background-color: #f6f6f6; /* rgb(255, 255, 255)*/
  color: #000;
}

.section-title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
  font-family: "Arial Black";

}
.h3-text{
  color: #608cc7;
  font-weight: bold;
  text-transform: uppercase;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.service-card {
  background-color: #212525;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
  .icon_bellow{
    width: 40px;
    height: 40px;
  }
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.service-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  fill: white;
}


.service-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-description {
  font-size: 14px;
  margin-bottom: 20px;
  color: #cccccc;
}

.btn-read-more {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

.btn-read-more:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
