<div class="services-container">

  <h3 class="h3-text">Services</h3>
  <h2 class="section-title">Our expertise focuses on 4 main <br>services</h2>

  <div class="services-grid">
    <div class="service-card">
      <img src="assets/wifi_net2.png" alt="WiFi Technologies Icon" class="service-icon">
      <h3 class="service-title">Wi-Fi Technologies</h3>
      <p class="service-description">CatWave Networks designs and deploys custom WLAN solutions, ensuring high-performance connectivity. We handle everything from site surveys to installation, testing, and ongoing support.
      </p>
      <button class="btn-read-more" routerLink="/wifi-technologies">Learn More</button>
    </div>

    <div class="service-card">
      <img src="assets/network_infra.png" alt="Network Infrastructure Icon" class="service-icon">
      <h3 class="service-title">Network Infrastructure</h3>
      <p class="service-description">
        CatWave Networks designs seamless IT network infrastructures that integrate on-premise equipment with cloud solutions. Our tailored approach transforms your network into a catalyst for business growth.
      </p>
      <button class="btn-read-more" routerLink="/network-infrastructure">Learn More</button>
    </div>

    <div class="service-card">
      <img src="assets/key4.png" alt="Network Security Icon" class="service-icon icon_bellow">
      <h3 class="service-title">Network Security</h3>
      <p class="service-description">CatWave Networks offers tailored firewall solutions, securing your network with advanced features, real-time monitoring, and regular updates. We ensure robust protection, keeping your business safe and compliant.</p>
      <button class="btn-read-more" routerLink="/network-security">Learn More</button>
    </div>

    <div class="service-card">
      <img src="assets/icons/network-monitoring.svg" alt="Network Management Icon" class="service-icon icon_bellow">
      <h3 class="service-title">Network Management</h3>
      <p class="service-description">CatWave Networks delivers comprehensive network management services, including custom design and real-time monitoring. We ensure optimal performance and reliability while adapting to your evolving business needs.  </p>
      <button class="btn-read-more" routerLink="/managed-services">Learn More</button>
    </div>
  </div>
</div>
