<div class="services-container">

  <h3 class="h3-text">Services</h3>
  <h2 class="section-title">Our expertise focuses on 4 main <br>services</h2>

  <div class="services-grid">
    <div class="service-card">
      <img src="assets/wifi_net2.png" alt="WiFi Technologies Icon" class="service-icon">
      <h3 class="service-title">Wi-Fi Technologies</h3>
      <p class="service-description">We specialize in crafting resilient network infrastructures tailored to meet the dynamic demands of modern businesses. From expert switching and routing solutions to advanced firewalling, our dedicated team ensures your network is the sturdy backbone supporting your operations.
      </p>
      <button class="btn-read-more" routerLink="/wifi-technologies">Read More</button>
    </div>

    <div class="service-card">
      <img src="assets/network_infra.png" alt="Network Infrastructure Icon" class="service-icon">
      <h3 class="service-title">Network Infrastructure</h3>
      <p class="service-description">
        We specialize in crafting resilient network infrastructures tailored to meet the dynamic demands of modern businesses. From expert switching and routing solutions to advanced firewalling, our dedicated team ensures your network is the sturdy backbone supporting your operations.
      </p>
      <button class="btn-read-more" routerLink="/network-infrastructure">Read More</button>
    </div>

    <div class="service-card">
      <img src="assets/key4.png" alt="Network Security Icon" class="service-icon icon_bellow">
      <h3 class="service-title">Network Security</h3>
      <p class="service-description">We prioritize the security of your information. Our robust information security services are designed to shield your business from potential threats. From firewalls to proactive monitoring, trust us to fortify your digital fortress and ensure your data remains confidential and secure.</p>
      <button class="btn-read-more" routerLink="/network-security">Read More</button>
    </div>

    <div class="service-card">
      <img src="assets/icons/network-monitoring.svg" alt="Network Management Icon" class="service-icon icon_bellow">
      <h3 class="service-title">Network Management</h3>
      <p class="service-description">We take the complexity out of network management. With our expertise, your network operations become efficient, agile, and responsive. We offer solutions that empower you to oversee, optimize, and scale your network seamlessly, ensuring it aligns with your business objectives.</p>
      <button class="btn-read-more" routerLink="/managed-services">Read More</button>
    </div>
  </div>
</div>
