<div class="wifi-technologies">
  <div class="wifi-text">
    <h2>Wi-Fi Technologies</h2>

    <p>In the realm of enterprise security, safeguarding your business goes beyond just a checklist—it encompasses application security, stringent access control, traffic encryption, identity management, and a spectrum of network-related security measures, including endpoint, web, and wireless security.</p>
    <p>At SailMobility, we provide unparalleled network security services to shield your business from unauthorized access to files, documents, and confidential information. Our robust and holistic security solutions act as a formidable barrier, protecting your business from potential intruders who might engage in acts such as unauthorized access to sensitive information, disruption, or cessation of business operations, or even holding your corporate data hostage. With SailMobility, your enterprise is fortified against an array of security threats, ensuring the integrity and confidentiality of your critical business assets.</p>
  </div>

  <div class="wifi-services">
    <div class="services-list">
      <h3>Core Services</h3>
      <ul>
        <li> Next-Gen Firewall design, configuration</li>
        <li> Network security assessment</li>
        <li> Zero trust SASE services</li>
        <li> VPNs implementations and troubleshooting</li>
        <li> Network Access Control (NAC)</li>
      </ul>
    </div>

    <div class="vendor-list">
      <h3>Core Vendor Technologies</h3>
      <ul>
        <li> HPE Aruba networking “Clearpass” and “Axis”</li>
        <li> Fortinet Firewalls</li>
        <li> Palo Alto Firewalls</li>
        <li> Cisco Meraki Firewalls</li>
        <li>Zscaler</li>
      </ul>
    </div>
  </div>
</div>
