
<section class="container d-flex align-items-center justify-content-center ">

  <div class="text-container me-5 text-center" >
    <h1>We <span>design</span>,<span> implement</span> and <br><span>support</span> secure wired and wireless networks</h1>
    <p>We make sure your infrastructure is supporting your <br>on-premises and cloud applications</p>
    <a routerLink="/" fragment="services" class="btn btn-primary">Discover Our Services</a>
  </div>

  <div class="img-container ms-5">
    <img src="assets/home_img.png" alt="Rocket" class="img-fluid">
  </div>
</section>

<section id="about">
  <app-about></app-about>
</section>

<section id="services">
  <app-services></app-services>
</section>

<section id="competencies">
  <app-competencies></app-competencies>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>

